# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local
.npmrc

# Frontend assets compiled code
public/assets

# Vite
*.timestamp-*.mjs
vite.config.ts.timestamp-*.mjs

# Build tools specific
npm-debug.log
pnpm-debug.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Miscellanous test data
# database/seeders/syllabus.csv

# tiptap
.npmrc

# ip2location bin files
public/ip2location
